<div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="cover-container">
    <%= image_tag "fulllogo_transparent.png", class:"cover-image"%>
    
    <p class="h5 text-center mb-0">Widen Your Social Universe</p>
    <p class="h6 text-center">for new ideas and perspectives</p>
    <div class="text-center mt-4">

      <%= link_to "新規登録", new_user_path, class:"btn btn-outline-primary mr-3" %>
      <%= link_to "ログイン", new_session_path, class:"btn btn-outline-primary ml-3" %>
    </div>
  </main>

</div>

