<h2 class="h4 mt-4 text-center">アカウント情報</h2>

<div class="card">
  <p class="mt-4"><%= avatar(@user) %></p>
  
  <p class="h4 mt-2 text-dark"><%= @user.name %></p>

  <p class="h5 mt-2 text-muted"><%= @user.email %></p>

  <p class="mt-4"><%= link_to "情報を更新", edit_user_path, class: "btn btn-secondary"%></p>
</div>
