@import "bootstrap";
/*
 *= require font-awesome
 */


.rounded-circle{
  width: 60px;
  height: 60px;
}

//footer
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.footer {
  background-color: #f5f5f5;
}

// .comment-box {
//   margin-top: 1.5rem;
//   padding: 12px 20px;
//   background-color: #fff;
// }

// .comment-area {
//   position: relative;
//   left: 8%;
//   top: 10%;
//   width: 100% !important;
//   border: 2px solid #f4f4f4;;
//   overflow: hidden;
// }


.btn-outline-primary {
  position: absolute;
  right: 3%;
  color: #216EBB;
  background-color: #fff;
  border: .06rem solid #216EBB;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #518ac4;
  border: .06rem solid #216EBB;
}