@import "bootstrap";

// Navbar
.bg-blue {
  margin: 0;
  padding: 0 0 2px 0;
  background-color: #216EBB !important;
}

.nav-item {
  font-size: 1rem;
  text-decoration: none;
}

.nav-link {
  color: #ffffff;
  padding: 17px;
  border-top: 3px solid #216EBB;
  border-bottom: 3px solid #216EBB;
}


.nav-link:hover {
  transition: 0.4s;
  border-bottom: 3px solid #f4f4f4;
  color: #f4f4f4;
}

//footer
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.footer {
  background-color: #f5f5f5;
}


// Show page
.card-custom {
  box-shadow: 0 4px 8px 0 #707070;
  max-width: 420px;
  margin: auto;
  text-align: center;
}

.card-form {
  max-width: 380px;
  margin: auto;
}


.carrierwave-field {
  max-width: 300px;
  margin: auto;
  border: none;
  display: inline-block;
  padding: 8px;
  color: #AFAFAF;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}

.btn-secondary {
  background-color: #216EBB !important;
  border: #216EBB;
}

.btn-secondary:hover {
  background-color: #0761bb !important;
  border: #0761bb;
}

// Sample image
.wrapper {
  position: relative;
  margin-top: 2rem;
}

.sample-image {
  max-width: 90%;
  margin: 0 auto;
}

.centered-text {
  width: 100%;
  display: inline-block;
  text-shadow: 0 .05rem .1rem #00000080;
  font-size: 1.2rem;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)
}

.wrapper-sub {
  background-color:#fff;
  padding: 8px;
}

.alert-info{
  line-height: 1.2rem;
  text-align: left;
}

.error-container{
  margin-top: 0rem;
}
